<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <%- include('partials/head.ejs', {title: 'My Hangar'}) %>
  </head>
<body>

  <%- include('partials/sidebar.ejs', {myHangarData: myHangarData}) %>

  <section class="home-section">
      <div class="text">Hi <%= myHangarData.pilotData.fullName %>!</div><br>
      <section class="section">
        <h2 class="subtitle">My Hangar</h2> <br>

        <%- include('partials/pilotProfile', {myHangarData: myHangarData}) %>

        <%- include('partials/droneProfile', {myHangarData: myHangarData}) %>

        <%- include('partials/flightsProfile', {myHangarData: myHangarData}) %>

        <div class="modal" id="addLicense">
          <div class="modal-background"></div>
          <div class="modal-card">
            <header class="modal-card-head">
              <p class="modal-card-title">Upload Licenses</p>
              <button class="delete" aria-label="close" onclick="closeLicense()"></button>
            </header>
            <section class="modal-card-body">
              <form action="/uploadLicense" method="post" enctype="multipart/form-data">
                <input type="hidden" name="XLOCATOR" value="<%=XLOCATOR%>">

                <div class="field">
                  <label class="label">License Name</label>
                  <div class="control has-icons-left">
                      <input name="licenseName" type="text" class="input" placeholder="A1/A3" required>
                      <span class="icon is-small is-left">
                          <i class="fa fa-user"></i>
                      </span>
                  </div>
                </div>

                <input type="file" id="licenseFile" name="licenseFile">

            </section>
            <footer class="modal-card-foot">
              <button type="submit" class="button is-link">Save</button>
            </form>
              <button class="button" onclick="closeLicense()">Cancel</button>
            </footer>
          </div>
        </div>

        <div class="modal" id="addDrone">
          <div class="modal-background"></div>
          <div class="modal-card">
            <header class="modal-card-head">
              <p class="modal-card-title">Register drone</p>
              <button class="delete" aria-label="close" onclick="closeDrone()"></button>
            </header>
            <section class="modal-card-body">
              <form action="/addDrone" method="post" enctype="multipart/form-data">
                <div class="field">
                  <label class="label">Brand Name</label>
                  <div class="control">
                    <input class="input" name="brandName" type="text" placeholder="Brand name" required>
                  </div>
                </div>
                <div class="field">
                  <label class="label">Model</label>
                  <div class="control">
                    <input class="input" name="modelName" type="text" placeholder="Model name" required>
                  </div>
                </div>

                <div class="field">
                  <label class="label">Serial Number</label>
                  <div class="control">
                    <input class="input" name="serialNumber" type="text" placeholder="Serial Number" required>
                  </div>
                </div>

                <div class="field">
                  <label class="checkbox">
                    <input type="checkbox" name="isFPV">
                    Is FPV?
                  </label>
                </div>

                <div class="field">
                  <label class="checkbox">
                    <input type="checkbox" id="checkInsurance" onclick="insuranceState()">
                    Do you have insurance for this drone?
                  </label>
                </div>

                <div id="insuranceDiv" hidden>

                <div class="field">
                  <label class="label">Company</label>
                  <div class="control">
                    <input class="input" id="companyName" name="companyName" type="text" placeholder="Company name">
                  </div>
                </div>

                <input type="file" id="insuranceFile" name="insuranceFile">

                </div>

            </section>
            <footer class="modal-card-foot">
              <button type="submit" class="button is-link">Save</button>
              <input type="hidden" name="XLOCATOR" value="<%=XLOCATOR%>">
            </form>
              <button class="button" onclick="closeDrone()">Cancel</button>
            </footer>
          </div>
        </div>


      </section>

  </section>

  <script>
    let sidebar = document.querySelector(".sidebar");
    let closeBtn = document.querySelector("#btn");
    let searchBtn = document.querySelector(".bx-search");

    closeBtn.addEventListener("click", ()=>{
        sidebar.classList.toggle("open");
        menuBtnChange();
    });

    searchBtn.addEventListener("click", ()=>{
        sidebar.classList.toggle("open");
        menuBtnChange();
    });

    function addLicense() {
      document.getElementById("addLicense").classList.add("is-active")
    }

    function closeLicense() {
      document.getElementById("addLicense").classList.remove("is-active")
    }

    function addDrone() {
      document.getElementById("addDrone").classList.add("is-active")
    }

    function closeDrone() {
      document.getElementById("addDrone").classList.remove("is-active")
    }

    function insuranceState() {
      if(document.getElementById("checkInsurance").checked) {
        document.getElementById("insuranceDiv").hidden = false;
        document.getElementById("companyName").required = true;
        document.getElementById("insuranceFile").required = true;

      } else {
        document.getElementById("insuranceDiv").hidden = true;
        document.getElementById("companyName").required = false;
        document.getElementById("insuranceFile").required = false;
      }
    }

  </script>
</body>
</html>